        body {
           font-family:Segoe UI, Arial;
           font-size:100%;
           color:#999999;
           margin:0;
           border-style:none;
           overflow-x:hidden;
           background-color:#000000;
        }
        
        p,ul,li,ol {font-size:95%} 
        p {text-align:justify} 
       
        a {text-decoration: underline}
        a:link    {color:#999999; }
        a:visited {color:#333333; }
        a:hover   {
           color:#FF950E; 
        }

         h1 {
            margin-top:20px;    
            margin-bottom:0px;    
            color:#F0F0F0;
            font-weight:normal;
            font-size:115%;
            text-align:center;
            text-transform:uppercase;
         }

         .stagetext {
            font-family:Palatino Linotype;  
            text-transform:uppercase;
            font-weight:bold;
            color:#000000;
            text-shadow:#434343 0px 1px 0.5px;
            text-align:center;
            font-size:120%;
         }

        .stagetext a {
            text-decoration: none;
            color:#000000;
         }

        .stagetext a:hover   {
           color:#FFCC99; 
           text-shadow:#0A0A0A 0px -1px 0.5px;
           text-decoration: none
        }
       
         .stagenav {
            text-transform:uppercase;
            color:#0A0A0A;
            text-shadow:#434343 0px 1px 0.5px;
            text-align:center;
            font-family:Segoe UI;
            font-size:80%;
            width:64px; 
         }
        
        .stagenav a {text-decoration: none}

        .stagenav a:visited {
            color:#0A0A0A;
            text-shadow:#434343 0px 1px 0.5px;
        }

        .stagenav a:link    {
            color:#1A1A1A;
            text-shadow:#434343 0px 1px 0.5px;
        }  

        .stagenav a:hover   {
           color:#FF950E; 
           text-shadow:#0A0A0A 0px -1px 0.5px;
           text-decoration: none
        }
       

         .stage {
            background-image: url('stage.png');
         }

         .idea {
            font-weight:normal;
            text-transform:uppercase;
            color:#FFCC99;
            font-size:80%;
            text-align:center;
         }

         .tag {
            display:inline-block;
         }

         .tag p {
            font-size:10pt;
            text-align:center;
         } 

         .bubbles {
            font-size:75%;
            float:right;
            width:20%;
            margin:8px 4px 0px 4px 
         } 

         .hcom {
            font-size:80%;
            text-align:center; 
            text-transform:uppercase; 
            color:#FFCC99;
         } 
