        body {
           font-family:Segoe UI, Arial;
           font-size:100%;
           color:#999999;
           margin:0;
           border-style:none;
           overflow-x:hidden;
           background-color:#000000;
        }
        
        p,ul,li,ol {font-size:95%} 
        p {text-align:justify} 
       
        a {text-decoration: underline}
        a:link    {color:#999999; }
        a:visited {color:#333333; }
        a:hover   {
           color:#FF950E; 
        }

         h1 {
            margin-left:20px;    
            margin-top:8px;    
            margin-bottom:16px;    
            color:#F0F0F0;
            font-weight:normal;
            font-size:120%;
            text-align:left;
            text-transform:uppercase;
            font-family:Palatino Linotype;  
         }

         .figure {
            float:left;
            padding:32px;
            margin-right:64px;
            margin-left:64px;
            margin-top:16px;
            margin-bottom:16px;
            border-style:double;
            border-width:4px;
            border-color:#333333;
         }

         .description{
            margin-right:64px;
            margin-left:64px;
            margin-top:64px;
            margin-bottom:8px;
         }  

         .stagenav {
            margin:0;
            width:64px; 
            height:16px;
            max-height:16px; 
            text-transform:uppercase;
            color:#999999;            
            text-align:center;
            font-family:Segoe UI;
            font-size:80%;
         }
        
        .stagenav a {text-decoration: none}

        .stagenav a:visited {
            color:#808080;
        }

        .stagenav a:link    {
            color:#999999;
        }  

        .stagenav a:hover   {
           color:#FF950E; 
           text-decoration: none
        }
       
        .stagenav a:active  {
           color:#000;
         }
       

         .stage {
            background-image: url('stage.png');
         }

         .idea {
            margin-top:8px;
            font-weight:normal;
            text-transform:uppercase;
            color:#FFCC99;
            font-size:100%;
            text-align:center;
         }

         .tag {
            display:inline-block;
         }

         .tag p {
            font-size:10pt;
            text-align:center;
         } 

         .bubbles {
            font-size:75%;
            float:right;
            width:20%;
            margin:8px 4px 0px 4px 
         } 

         .hcom {
            font-size:80%;
            text-align:center; 
            text-transform:uppercase; 
            color:#FFCC99;
         } 
