        body {
           font-family:Segoe UI, Arial;
           font-size:100%;
           color:#999999;
           margin:0;
           border-style:none;
           overflow-x:hidden;
           background-color:#000000;
           border-left:1px dotted #333333;
        }
        
        p,ul,li,ol {font-size:95%} 
        p {text-align:justify} 
       
        a {text-decoration: underline}
        a:link    {color:#999999; }
        a:visited {color:#333333; }
        a:hover   {
           color:#FF950E; 
        }


         h1 {
            margin-top:8px;    
            margin-bottom:0px;    
            color:#FFFFFF;
            font-weight:normal;
            font-size:115%;
            text-align:center;
            text-transform:uppercase;
         }

         .stagenav {
            margin:0;
            width:64px; 
            height:16px;
            max-height:16px; 
            text-transform:uppercase;
            color:#999999;            
            text-align:center;
            font-family:Segoe UI;
            font-size:80%;
         }
        
        .stagenav a {text-decoration: none}

        .stagenav a:visited {
            color:#808080;
        }

        .stagenav a:link    {
            color:#999999;
        }  

        .stagenav a:hover   {
           color:#FF950E; 
           text-decoration: none
        }
       
        .stagenav a:active  {
           color:#000;
         }

         .stage {
            background-image: url('stage.png');
            color:#302840;
         }

         .idea {
            font-weight:normal;
            text-transform:uppercase;
            color:#FFCC99;
            font-size:80%;
            text-align:center;
         }

         .tag {
            display:inline-block;
         }

         .tag p {
            font-size:10pt;
            text-align:center;
         } 

         .bubbles {
            font-size:75%;
            float:right;
            width:30%;
            margin:4px 4px 0px 4px 
         } 

         .hcom {
            font-size:80%;
            text-transform: uppercase;
            text-align:center; 
            color:#FFCC99;
         } 
